*.tar
*/runTests
*/runTests2
*/src/runTests
*/src/runTests2
*.in
*.out
*.exe
makefile
*.json
*.txt
project1/sample plotData related files
*.py
*.csv
*.pdf
*.png
*.zip
*Tests/
*/outputs/
test.*
# Ignore Makefiles
m* 